{
  "singleQuote": true,
  "bracketSameLine": true,
  "endOfLine": "lf",
  "plugins": [
    "prettier-plugin-css-order",
    "prettier-plugin-organize-attributes"
  ],
  "attributeGroups": [
    "$DEFAULT",
    "^data-",
    "$ANGULAR_INPUT",
    "$ANGULAR_TWO_WAY_BINDING",
    "$ANGULAR_OUTPUT",
    "$ANGULAR_STRUCTURAL_DIRECTIVE"
  ],
  "attributeSort": "ASC",
  "overrides": [
    {
      "files": ["*.html", "*.ts"],
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "*.component.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
