<mat-card class="card" appearance="outlined">
  <mat-card-header>
    <img mat-card-avatar src="/hp.svg" alt="Photo of a Shiba Inu" />
    <mat-card-subtitle>{{ book().title }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="'img/rectangle-' + book().id + '.jpg'" alt="Photo of a Shiba Inu" />
  <mat-card-content>
    <p>{{ book().publication_year }} - {{ book().summary }}</p>
  </mat-card-content>
  <mat-card-actions class="card-actions">
    <button class="button-overrides mat-warn" mat-raised-button type="button" (click)="addToCart()">
      <mat-icon>add_shopping_cart</mat-icon> Add
    </button>

    <button mat-raised-button type="button" (click)="removeFromCart()">
      <mat-icon>remove_shopping_cart</mat-icon> Remove
    </button>
  </mat-card-actions>
</mat-card>
